@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  background-color: #cdcbcb;
  font-family: "Julius Sans One";
}
/* nav {
  width: 100%;
} */

header {
  height: 4vh;

  background-color: #0f0a0a;
}
nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 0;
  height: 100%;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
}
nav {
  text-align: center;
  width: 100%;
  height: 100%;
  box-shadow: --1px 12px 17px -8px rgba(191, 153, 191, 0.94);
  -moz-box-shadow: -1px 12px 17px -8px rgba(191, 153, 191, 0.94);
  box-shadow: -1px 12px 17px -8px rgba(191, 153, 191, 0.94);
}

h1 {
  font-family: "Marko One", "lucian", "san-serif";
}
h2 {
  font-family: "Kanit", "Julius Sans One", "san-serif";
}

/*
home.html
*/

#homeTitle {
  text-align: center;
  text-transform: uppercase;
  font-family: "Marko One";
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 900;
}

.introduction {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.introduction h2 {
  margin: 0;
}

.introduction img {
  width: 60vw;
  height: 50vh;
  padding: 0;
  padding: 0rem 0.4rem;
}

p {
  font-size: 1.1rem;
}

.expediaInfo {
  padding: 0.9rem 0.9rem 0rem;
  border: 2px solid black;
  width: max-content;
  background-color: #f7f7f7;
}

#aboutMeInfo,
#enjoyProgramming {
  border: 2px solid black;
  margin: 0.3rem;
  padding: 0.3rem;
  background-color: #f7f7f7;
}

footer {
  border: 1px solid black;
  padding: 0.3rem;
  /* background-color: #f7f7f7; */
  background-color: black;
  color: white;
}

h1 {
  font-size: 2.7rem;
  margin: 0.8rem 0;
}

.roleDescription {
  display: none;
}

@media screen and (min-width: 700px) {
  .roleDescription {
    display: block;
  }
}

/* COLOURS */
.expediaInfo {
  background-color: #a15959;
}

#aboutMeInfo {
  background-color: #587ea7;
}

#enjoyProgramming {
  background-color: #6b53ac;
}

/*

bio.html
*/

.hobbiesContain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  padding: 0.2rem;
  background-color: #c8c4d4;
}

ul {
  padding: 0;
}

ul > li {
  list-style-type: none;
}

#hobbiesP {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: underline;
}

.containerWhole {
  margin: 0.8rem;
}

#gameContainer p,
.dreams p {
  background-color: #f7f7f7;
  border: 1px black solid;
  padding: 0.3rem;
}

.dreams p {
  background-color: #ce8827;
}
#gameContainer p {
  background-color: #1d9083;
}
#gameContainer img {
  width: 80%;
}
.imgGame {
  display: flex;
  justify-content: space-between;
}

#hades {
  display: none;
}

#itTakesTwo {
  display: none;
}

@media screen and (min-width: 700px) {
  #gameContainer img {
    width: 45%;
  }
  #gameContainer #hades {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  #gameContainer img {
    width: 33%;
  }

  #gameContainer #itTakesTwo {
    display: inline-block;
  }
}

/*
experience.html
*/

span {
  font-weight: bold;
}
.container {
  margin: 0.8rem;
}

.box {
  background-color: blue;
  border-radius: 0.2rem;
}

.pictureOfMe img {
  width: 60%;
  height: 40%;
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
}

.aboutMeBox {
  display: flex;
  justify-content: space;
}

.aboutMeBox p {
  margin: 0;
  padding-left: 0.4rem;
}

.bathInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.moreInfoBath {
  display: none;
}

@media screen and (min-width: 1200px) {
  .moreInfoBath {
    display: block;
  }
}
/*
Box Colours
*/

.box:nth-of-type(1) {
  background-color: #c9314f;
}
.box:nth-of-type(2) {
  background-color: #3b7fd8;
}
.box:nth-of-type(3) {
  background-color: #a0c2ee;
}
.box:nth-of-type(4) {
  background-color: #cdb4db;
}
.box:nth-of-type(5) {
  background-color: #ffc8dd;
}
.box:nth-of-type(6) {
  background-color: #e2b22c;
}
.box:nth-of-type(7) {
  background-color: #b1afa9;
}
.box:nth-of-type(8) {
  background-color: #85dba6;
}

/*
Portfolio.html styling
*/

.project img {
  width: 70%;
  height: 50%;
}

.projects {
  margin-left: 0.8rem;
}

.projects h2 {
  border-bottom: 2px solid black;
  width: max-content;
}

/* MEASUREMENTS MEDIA QUERIES*/

@media screen and (min-width: 300px) and (max-width: 699px) {
  #homeTitle {
    font-size: 3rem;
  }

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1rem;
  }

  li {
    font-size: 1rem;
  }
  span {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1199px) {
  #homeTitle {
    font-size: 3.8rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.5rem;
  }
  span {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1200px) {
  #homeTitle {
    font-size: 4rem;
  }

  h1 {
    font-size: 3.7rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2.1rem;
  }
  p {
    font-size: 2rem;
  }

  li {
    font-size: 2rem;
  }

  span {
    font-size: 2.1rem;
  }
}
