@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Marko+One&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  background-color: #eaebeb;
}
/* nav {
  width: 100%;
} */

header {
  height: 2vh;
  margin-top: 1.5rem;
}
nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav a {
  text-decoration: none;
}
nav {
  text-align: center;
}

/*
home.html
*/

#homeTitle {
  text-align: center;
  text-transform: uppercase;
  font-family: "Marko One";
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.introduction {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.introduction h2 {
  margin: 0;
}

.introduction img {
  width: 60vw;
  height: 42vh;
  padding: 0;
  padding: 0rem 0.4rem;
}

p {
  font-size: 1.1rem;
}

.expediaInfo {
  padding: 0.9rem 0.9rem 0rem;
  border: 2px solid black;
  width: max-content;
}

#jobDescription,
#enjoyProgramming {
  border: 2px solid black;
  margin: 0.3rem;
  padding: 0.3rem;
}

footer {
  border: 1px solid black;
  padding: 0.3rem;
}

h1 {
  font-size: 2.7rem;
  margin: 0.8rem 0;
}

/*

bio.html
*/

.hobbiesContain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  padding: 0.2rem;
}

ul {
  padding: 0;
}

ul > li {
  list-style-type: none;
}

#hobbiesP {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: underline;
}

.containerWhole {
  margin: 0.8rem;
}

/*
experience.html
*/

.container {
  margin: 0.8rem;
}

.box {
  background-color: blue;
  border-radius: 0.2rem;
}

.pictureOfMe img {
  width: 60%;
  height: 40%;
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
}

.aboutMeBox {
  display: flex;
  justify-content: space;
}

.aboutMeBox p {
  margin: 0;
  padding-left: 0.4rem;
  font-size: 1rem;
}

/*
Box Colours
*/

.box:nth-of-type(1) {
  background-color: #c9314f;
}
.box:nth-of-type(2) {
  background-color: #3b7fd8;
}
.box:nth-of-type(3) {
  background-color: #a0c2ee;
}
.box:nth-of-type(4) {
  background-color: #cdb4db;
}
.box:nth-of-type(5) {
  background-color: #ffc8dd;
}
.box:nth-of-type(6) {
  background-color: #e2b22c;
}
.box:nth-of-type(7) {
  background-color: #b1afa9;
}
.box:nth-of-type(8) {
  background-color: #85dba6;
}
